.movie-pick-list {
  width: 350px;
  opacity: 1;
}

@media only screen and (max-width: 350px) {
  .movie-pick-list {
    width: 80vw !important;
    opacity: 1;
  }
}

.list-item {
  background-color: #e5e6db !important;
  justify-content: space-between;
}

.toast {
  width: 15rem !important;
  position: fixed;
  bottom: 0;
  z-index: 999;
  left: 0;
  color: #000000 !important;
}

.movie-picks {
  position: absolute;
  z-index: 1;
  right: 2%;
  bottom: 2%;
}

.hide-list,
.show-list {
  width: fit-content;
  position: absolute;
  top: 0px;
  left: 0px;
}
